/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-a11) var(--accent-a3);
}
/* WebKit */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--accent-a3);
}
::-webkit-scrollbar-thumb {
  background: var(--accent-a11);
}
